<!-- login/logout -->
<% if user_signed_in? %>
	<!-- first subheader -->
	<div class="divider"></div>
    <%= link_to 'Log out', destroy_user_session_url, method: :delete %>

<% else %>
  <!-- first subheader -->
 <div class="divider"></div>
 <a class="subheader">Login/sign up</a>
<%= link_to 'Log in', new_user_session_url, :class => "waves-effect" %>
<%= link_to "Sign up", new_user_registration_path, :class => "waves-effect" %>
<% end %>
<%= javascript_pack_tag 'hello_react' %>
<%= stylesheet_pack_tag 'hello_react' %>